body {
    font-family: 'Lato', sans-serif;
}

nav {
    padding: 0 15px !important;
    
}

nav img {
    height: 60px;
    width: auto;
    background-color: white;
    margin: .25em 0;
}

nav ul.navbar-nav li {
    padding-left: 1em;
}

.btn a {
    color: white;
}

p {
    font-size: 18px;
}

h1, h2 {
    font-family: 'Fjalla One', sans-serif;
}

.dropdown-menu {
    display: none;
}

.jumbotron {
    border-bottom: 1px solid black;
    margin-bottom: 0;
    background-image: url("tractor-show.5d9ef1c831c2.jpg");
    height: 22.5em;
	background-size: 97em 35em;
	background-repeat: no-repeat;
    border-radius: 0;
}

.jumbotron img {
    display: block;
    margin: 2em auto 0 auto;
    height: 175px;
    width: auto;
    border: 1px solid black;
    background-color: white;
}

.tractor-brand {
    margin: .5em 0;
}

.update-container h2,
.tractor-brand h2,
.philosophy h2,
.scholarships h2 {
    text-align: center;
    font-family: 'Fjalla One', sans-serif;
}

.philosophy,
.scholarships {
    text-align: center;
}

.tractor-brand img {
    display: block;
    margin: 1em auto;
    border: 1px solid grey;
    height: 400px;
    width: auto;
}

div.photos img {
    height: 175px; 
    width: auto;
    margin: .175em;
    border: 1px solid black;
}

div.image-set {
    margin-bottom: 1em;
}

.ribbon { 
    border-bottom: 1px solid black;
    text-align: center;
    padding: .75em .25em;
    background-color: #343a40;
    
}

.ribbon a {
    color: black;
}

.update {
    max-height: 17em;
    overflow: auto;
    border: 1px solid grey;
    margin-top: 1em;
    padding: 1em 1em 0 1em;
}

.update p,
.update li,
.update ul {
    font-size: 16px;
}

/** Summer Show **/

img.event-image {
    height: 275px;
    margin-top: 2em;
}

.summer-map img {
    width: 600px;
}

.summer-head {
    text-align: center
}

.summer-head .info2 {
    margin-top: 1em;
}

.summer-head .info1 img {
    border: 1px solid black;
    height: 275px;
    margin: 0 auto;
    display: block;
    margin-top: 3em;
}

.summer-head h4:first-of-type,
.summer-head .upcoming {
    display: inline;
}

.summer-head .upcoming {
    position: relative;
    left: 5px;
}

table.daily-events td {
    padding: .25em;
    font-size: 14px;
}

.flyer-button {
    margin: .5em 0;
}

/** Toy Show **/
.toy-show-head {
    text-align: center;
    margin-top: 1em;
}

.toy-show-image {
    margin-bottom: 1em;
}


.toy-show-head img {
    margin: .5em auto 0 auto;
    border: 1px solid black;
    height: 225px;
}

.image-row-1 {
    border-bottom: 1px solid grey
    padding: 2em 0;
}

.image-row-1 img {
    height: 200px;
    display: block;
    margin: 0 auto; 
    border: 1px solid black;
}

.toy-ad h1 {
    text-align: center;
}


div.games p:first-of-type {
    margin-left: 15px;
}

/**Directions**/
.directions {
    text-align: center;
}

iframe {
    width: 100%;
    height: 500px;
}

.around h2,
.around h4 {
    display: block;
}

.update-container {
    margin-top: 1em;
}


.contact-info h2,
.club-info h2 {
    text-align: center;
}

.contact-info,
.club-info {
    text-align: center;
}

.club-info .col-sm-2,
.club-info table {
    margin: 0 auto;
}

.club-info button {
    margin: .5em 0;
}

.directors table td,
.advisors table td {
    padding: 5px;
}

.info h1 {
    margin: .35em 0;
}

.edit-info .django-ckeditor-widget {
    width: 100%;
}

.update-edit h2,
.update-edit a {
    display: inline;
}

.update-edit a.delete {
    background-color: red;
    padding: 0 .25em;
    border-radius: .25em;
    color: white;
}

.update-edit a.btn {
    position: relative;
    bottom: .25em;
    left: 1em;
}

.update-edit .align-link {
    display: inline;
}

.update-edit ul {
    margin-top: 1em;
}

.update


@media screen and (max-width: 1024px) {
    .image-row-1 img {
        margin-bottom: 1em;   
    }
    
    .image-row-1 {
        padding: 1em;
    }
}

@media screen and (max-width: 993px) {
    .summer-head .info1 img {
        margin: .5em auto;

    }
}

@media screen and (max-width: 768px) {
    .tractor-brand img {
        width: 100%;
        height: auto;
    }
    
    .summer-map img {
        width: 100%;
    }
    
    .jumbotron {
        height: 20em;
    }
    
    .jumbotron img {
        margin: .5em auto 0 auto;
    }
    
    p {
        font-size: 16px;
    }

}

@media screen and (max-width: 600px) {
    .philosophy h2 {
        font-size: 28px;
    }
    
    .ribbon h3 {
        font-size: 1.25em;
    }
    
    .jumbotron {
        height: 17.5em;
    }
    
    .jumbotron img {
        height: 150px;   
        margin: 2em auto 0 auto;
    }
}

@media screen and (max-width: 480px) {
    .tractor-brand h2 ,
    .philosophy h2 {
        font-size: 25px;
    }
    
    .philosophy p {
        font-size: .95em;
    }
    
    .summer-head h4:first-of-type,
    .summer-head .upcoming {
        display: block;
    }
    
    .summer-head .upcoming {
        width: 200px;
        margin: 1em auto 0 auto;
    }
    
    .summer-head .info1 img {
        width: 100%;
        height: auto;

    }
    
    div.photos img {
        display: block;
        height: 200px;
        margin: 0 auto .5em auto;
    }
    
    .directors table td {
        font-size: 14px;    
    }
    
    .advisors table td {
        font-size: 12px;
    }
    
    .jumbotron {
        height: 15em;
    }
    
        .jumbotron img {
        height: 150px;   
        margin: .75em auto 0 auto;
    }

}

@media screen and (max-width: 320px) {
    
}