{% extends 'winamacpowershow/base.html' %}

{% block title %}
Photos | {{ block.super }}
{% endblock title %}

{% block content %}
<div class="photos">
    <h1 style="margin-bottom: .5em;">Photos</h1>
    <h5 class="center">Click on photo to enlarge</h5>
    <div class="image-display">
        {% for display in set %}
            <h2>{{ display.name }}</h2>
            {% for im in display.image_set.all %}
                    <img src="{{ im.photo.url }}">
                
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock content %}